<div class="index-wrap container text-center">	
	
	<div class="wrap-fixed">
		<div class="home-logo text-center col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
			<img src="/assets/Eleven-Logo2.svg" class="home-logo-img" alt="Eleven" title="Eleven">
		</div>
		<p class="home-tagline lead text-center">Create & Discover Your Tone</p>
	</div>


	<div id="footer-fixed">
		<div class="home-buttons">
	    <%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-block" %>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-block" %>
		</div>
  </div>
</div>	