// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#pins {
	margin: 0 auto;
}

.box {
	margin: 10px;
	width: 288px;
}

/* iPad portrait and below */
@media (max-width: 768px) { 
  
  .box {
		margin: 0px;
		width: 320px;
	}

	.navbar {
		margin-bottom: 0px;	
	}

}

.box .image {
	background-size: 100%;
	background-color: #eeeeee;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}